@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

/* 
    atajos emmet:
    h6em
    m0em0em0.4em0em
    m0em
    p0em
    w100%
    h25em
 */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0em;
    display: flex;
    align-items: center;
    width: 100%;
    height: 4.5em;
    padding: 0em 0em 0em 2em;
    color: #373737;
    text-transform: uppercase;
    background-color: #FFFFFF;
    box-shadow: 0 2px 0.1em 0 rgba(0, 0, 0, 0.08);

}

#logotype {
    width: 1.8em;
    margin: 0em 0.8em 0em 0em;
}

#logo {
    font-size: 25px;
    letter-spacing: 0.082em;
}

/************************************************************/

.main {
    width: 100%;
    height: 40em;
    display: flex;
    justify-content: center;
    padding: 2em 0 0 0;
}

.resaltado {
    color: #9f2deb;
    font-size: 1em;
}

.image {
    width: 15.15em;
    border-radius: 0.4em;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2);

}

.image:hover {
    scale: 1.02;
    box-shadow: 0 2px 25px 0 rgba(159, 45, 235, 0.9);
    transition: 0.3s;
}

a {
    text-decoration: none;
    color: #f79029;
}

a:hover {
    color: #f7c100;
    transition: 0.3s;
}

/************************************************************/
#mapa {
    width: 20em;
    height: 25em;
    border-radius: 0.5em;
}

.coord {
    width: 25em;
    height: 28em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3em;
    background-color: #fffaf5;
    border-radius: 1.2em;
}

/************************************************************/

.form {
    width: 30em;
    height: 28em;
    padding: 1.2em 0em 0em 0em;
    color: #373737;
}

#maps-url {
    font-size: 0.94em;
}

#tit {
    margin: 0.3em 0em 0.7em 0em;
}

.form p {
    font-weight: 500;
    opacity: 0.8;
}

#main-form {
    margin: 1.5em 0em 0em 0em;
    display: flex;
    flex-direction: column;
    color: #373737;
}

#main-form h2 {
    font-size: 0.9em;
}

.form-group {
    margin-top: 1em;
}

label {
    padding: 0em 0.6em;
    font-size: 0.85em;
    font-weight: 400;
    color: #f79029;
    background-color: #FFFFFF;
}

input {
    width: 80%;
    height: 3rem;
    border: #f79029 solid 0.1rem;
    border-radius: 0.3rem;
    font-weight: 500;
    padding: 0em 0em 0em 1rem;
    font-size: 0.8em;
    color: #373737;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0.5em 0 rgba(255, 160, 65, 0.8);
    transition: 0.3s;
}

input::placeholder {
    opacity: 0.5;
}

#lbl-name {
    position: relative;
    bottom: 1.7em;
    left: 7em;
}

#name-field {
    position: relative;
    right: 4.7em;
}

#lbl-lastname {
    position: relative;
    bottom: 1.7em;
    left: 7em;
}

#lastname-field {
    position: relative;
    right: 4.7em;
}

#lbl-email {
    position: relative;
    bottom: 1.7em;
    left: 6em;
}

#email-field {
    position: relative;
    right: 3.68em;
}

#btn-send {
    padding: 0.5em 1em;
    color: #ff8000;
    background-color: #ffdbb7;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
}

#btn-send:hover {
    scale: 1.01;
    transition: 0.3s;
    background-color: #ffab57;
    color: #FFFFFF;
}

#btn {
    width: 80%;
    display: flex;
    justify-content: right;
    margin: 0.8em 0em;
}

@media (max-width: 480px) {

    header {
        height: 3.5em;
        padding: 0em 0em 0em 1em;
    }


    /************************************************************/

    .main {
        width: 100%;
        height: 50em;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: start;
        padding: 1em 0 0 0;
    }

    #mapa {
        width: 18em;
        height: 13em;
        border-radius: 0.5em;
    }

    .coord {
        width: 20em;
        height: 15em;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fbfaf9;
        margin: 0em;
        border-radius: 1.2em;
    }

    /************************************************************/

    .form {
        width: 20em;
        height: 28em;
        padding: 1.2em 0em 0em 0em;
        color: #373737;
        margin-bottom: 1em;
    }

    #maps-url {
        font-size: 0.8em;
    }

    #tit {
        font-size: 1.5em;
        margin: 0.3rem 0rem 0.7rem 0rem;
    }

    .form p {
        font-weight: 500;
        opacity: 0.8;
    }

    #main-form {
        margin: 1.5em 0em 0em 0em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #373737;
        background-color: #9f2deb;
    }

    #main-form h2 {
        font-size: 0.9em;
    }

    .form-group {
        margin-top: 1em;
    }

    label {
        padding: 0em 0.6em;
        font-size: 0.85em;
        font-weight: 400;
        color: #f79029;
        background-color: #FFFFFF;
    }

    input {
        width: 90%;
        height: 3rem;
        border: #f79029 solid 0.1rem;
        border-radius: 0.3rem;
        font-weight: 500;
        padding: 0em 0em 0em 1rem;
        font-size: 0.8em;
        color: #373737;
    }

    input:focus {
        outline: none;
        box-shadow: 0 0 0.5em 0 rgba(255, 160, 65, 0.8);
        transition: 0.3s;
    }

    input::placeholder {
        opacity: 0.5;
    }

    #lbl-name {
        position: relative;
        bottom: 1.7em;
        left: 4em;
    }

    #name-field {
        position: relative;
        right: 0em;
    }

    #lbl-lastname {
        position: relative;
        bottom: 1.7em;
        left: 7em;
    }

    #lastname-field {
        position: relative;
        right: 0em;
    }

    #lbl-email {
        position: relative;
        bottom: 1.7em;
        left: 6em;
    }

    #email-field {
        position: relative;
        right: 3.55em;
    }

    #btn-send {
        padding: 0.5em 1em;
        color: #ff8000;
        background-color: #ffdbb7;
        border: none;
        border-radius: 0.3em;
        cursor: pointer;
    }

    #btn-send:hover {
        scale: 1.01;
        transition: 0.3s;
        background-color: #ffab57;
        color: #FFFFFF;
    }

    #btn {
        width: 80%;
        display: flex;
        justify-content: right;
        margin: 0.8em 0em;
    }


}